﻿@using Kentico.PageBuilder.Web.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Kentico().PageDescription()
    @Html.Kentico().PageKeywords()
    @Html.Kentico().PageTitle()
    @Styles.Render("~/Content/css")
    @Html.Kentico().PageBuilderStyles()

</head>
<body>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Activity Captcha</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Html.Kentico().PageBuilderScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
