﻿body {
    padding: 10px;
}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-field {
    margin-top: 10px;
}

.formwidget-submit-text {
    color: #0a6900;
}

.field-validation-error {
    color: #ff0000;
}

.hidden {
    display: none !important;
}