﻿@using Kentico.Forms.Web.Mvc

@model ActivityCaptcha.FormBuilder.FormComponents.InvisibleReCaptchaV3Component

@{
    // Gets a collection of system HTML attributes necessary for the functionality of form component inputs
    IDictionary<string, object> htmlAttributes = ViewData.GetEditorHtmlAttributes();
    Guid id = @Model.BaseProperties.Guid;
}

@{
    htmlAttributes["class"] += " hidden";
    htmlAttributes["id"] = id + "-captchaToken";
    htmlAttributes["data-captchaguid"] = id;
    htmlAttributes["data-captchaToken"] = "";
    htmlAttributes["value"] = "";
}

@Html.TextAreaFor(m => m.Value, htmlAttributes)

@{
    <script src="https://www.google.com/recaptcha/api.js?render=@Model.GoogleSiteKey" type="text/javascript"></script>
    <script type="text/javascript" defer>window.reCaptchaSiteKey = `@Model.GoogleSiteKey`;</script>
}